@media (min-width: 540px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 920px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
